<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/datasource.properties</value>
			</list>
		</property>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			
			<tx:method name="has*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			
			<tx:method name="cancel*" />
			<tx:method name="insert*" />
			<tx:method name="update*" />
			<tx:method name="modify*" />
			<tx:method name="delete*" />
			<tx:method name="save*" />
			<tx:method name="add*" />

			<tx:method name="audit*" />
			<tx:method name="do*" />
			<tx:method name="check*" />
			<tx:method name="report*" />
			<tx:method name="return*" />
			<tx:method name="pass*" />
			<tx:method name="create*" />
			<tx:method name="send*" />
			<tx:method name="execute*" />
			<tx:method name="accept*" />
			<tx:method name="confirm*" />
			<tx:method name="approve*" />
			<tx:method name="upload*" />
			<tx:method name="import*" />
			
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* *..*Service.*(..))" />
	</aop:config>
</beans>