.span_left{
	padding:2px; 
	height:15px;
	text-align:center;
	margin:5px 5px 0px 0px;
	float:right; 
	margin-left:5px;
}
.left_span{
	padding:2px; 
	height:15px;
	text-align:center;
	margin:5px 5px 0px 0px;
	float:left; 
	margin-left:5px;
}
td.ssr{font-size:28px;padding:0px;padding-top:0px;line-height:110% !important;} 
.tableDiv{
	width: 98%; 
	height:95%;
	overflow-x: auto; 
	margin: 10px;
}
.tablesDiv{
	margin:  auto !important;
	width: 100% !important;
	min-width: 1400px;

}
textarea[readonly] {
	background: #DDDDDD;
}
#tabel_detail td{
	text-align: center;
}

.ui-banner{
 	font-weight: bold; 
 	color: #2e6e9e; 
 	overflow:hidden;
 	height: 29px;
}
.ui-noboder{
	border: none;
}
.gap{
	margin-top:7px;
}
.erji {
	width: 90%;
	height: 100%;
}
/**统一textarea的宽度和高度*/
.textarea{
	width: 90%;
	height: 40px;
}